<p>view-task works!</p>
<mat-card>
    <div>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <!-- <div class='col-md-2'>
                        <div style='padding-top:15px'> Task</div>
                    </div> -->
                    <div class='col-md-12'>
                        <mat-form-field style='width:100%'>
                            <input matInput placeholder='Task Name'>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='row'>
                    <!-- <div class='col-md-2'>
                        <div style='padding-top:15px'>Parent Task</div>
                    </div> -->
                    <div class='col-md-12'>
                        <mat-form-field style='width:100%'>
                            <input matInput placeholder='Parent Task'>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-6'>
                        <mat-form-field>
                            <input matInput placeholder='Priority from' type='Number' step='1' min='1' max='100'
                                value='1'>
                        </mat-form-field>
                    </div>
                    <div class='col-md-6'>
                        <mat-form-field>
                            <input matInput placeholder='Priority To' type='Number' step='1' min='1' max='100'
                                value='100'>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <mat-form-field>
                        <input matInput [matDatepicker]='startDate' placeholder='Start Date'>
                        <mat-datepicker-toggle matSuffix [for]='startDate'></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class='col-md-6'>
                    <mat-form-field>
                        <input matInput [matDatepicker]='endDate' placeholder='Start Date'>
                        <mat-datepicker-toggle matSuffix [for]='endDate'></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<mat-divider style='padding:10px'></mat-divider>
<mat-card>
    <div class='row'>
        <div class=col-md-2>
            <mat-card>
                <mat-card-header>
                    <mat-card-title style='align-content: left;font-size: 10pt'>
                        Task
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
        <div class=col-md-2>
            <mat-card>
                <mat-card-header>
                    <mat-card-title style='align-content: left;font-size: 10pt'>
                        Parent Task
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
        <div class=col-md-2>
            <mat-card>
                <mat-card-header>
                    <mat-card-title style='align-content: left;font-size: 10pt'>
                        Priority
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
        <div class=col-md-2>
            <mat-card>
                <mat-card-header>
                    <mat-card-title style='align-content: left;font-size: 10pt'>
                        Start
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
        <div class=col-md-2>
            <mat-card>
                <mat-card-header>
                    <mat-card-title style='align-content: left;font-size: 10pt'>
                        End
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content></mat-card-content>
            </mat-card>
        </div>
        <div class=col-md-2>
            <button mat-raised-button color='primary'>Edit</button>
            <span style='padding:10px'></span>
            <button mat-raised-button color='primary'>End Task</button>
        </div>
    </div>
</mat-card>